* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(22, 18, 18);
}

/* Start Header */
.container {
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1px solid rgba(243, 167, 27, 0.466);
  position: relative;
  width: 100%;
}
.container .logo {
  color: rgb(243, 168, 27);
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
}
.container .logo span {
  color: white;
  font-size: 20px;
}
.container .buttons button {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  border: 0.1px solid rgb(243, 168, 27);
  background-color: rgb(22, 18, 18);
}
.container .buttons button:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(243, 168, 27);
}
.container .buttons button a {
  text-decoration: none;
  color: #ddd;
}
.container .buttons button a:hover {
  color: white;
}
.header .liens ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header .liens ul li a {
  text-decoration: none;
  color: #ddd;
  margin: 30px;
  font-style: normal;
}
.header .liens ul li:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.header .liens ul li a:hover {
  color: white;
}
.fa-car-side {
  color: #ddd;
  position: absolute;
  top: 90%;
  left: 50%;
}
/* start responsive for header */
@media (max-width: 896px) {
  .container {
    flex-direction: column;
    justify-content: center;
    height: 258px;
  }
  .header .liens ul {
    display: block;
  }
  .header .liens ul li {
    margin-bottom: 15px;
  }
  .fa-car-side {
    top: 97%;
    left: 49%;
  }
}
/* End Header */

/*-----------------------------------------------------------------*/

/*start form*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form .form-infos {
  width: 400px;
  height: 460px;
  margin-top: 50px;
  background-color: rgb(36, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form-infos h2 {
  color: #ddd;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}
.form .form-infos form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}
.form-infos form .button label input {
  width: 80px;
  height: 28px;
  color: #ddd;
  border: 0.1px solid #ddd;
  background-color: #fff;
  background-color: rgb(36, 31, 31);
  border-radius: 18px;
  margin-top: 20px;
}
.form-infos form select {
  margin-bottom: 30px;
}
.form .form-infos form label {
  margin-bottom: 16px;
  color: rgba(221, 221, 221, 0.493);
}
/*end formulaire de reservation*/

/*-----------------------------------------------------------------*/
/*start footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  border-bottom: 0.1px solid rgba(221, 221, 221, 0.733);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .card {
  height: 200px;
}
.footer .card .paragraph {
  width: 200px;
}
.footer .card .paragraph p {
  color: rgba(221, 221, 221, 0.507);
  font-family: "poppins";
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer .card .icons i {
  color: #ddd;
  border: 0.5px solid rgba(221, 221, 221, 0.486);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}
.footer .card h2 {
  color: #ddd;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer ul li {
  color: rgba(221, 221, 221, 0.507);
  font-family: "poppins";
  font-size: 12px;
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}
.copyright {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.copyright p {
  color: rgba(221, 221, 221, 0.507);
  font-family: "poppins";
  font-size: 10px;
}
@media (max-width: 896px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
  }
}
/*-----------------------------------------------------------------*/
